body {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    margin: 0;
}

.structure{
    background-color: #201F41;
    height: 100vh;
    display: flex;
    align-items: center;
}

.desktop-img {
    display: none;
}

.home-structure, .registration-structure {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.petspace-logo {
    width: 60%;
    margin-bottom: 10%;
}

.login-box, .reg-box {
    width: 65%;
    padding: 9% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

input{
    width: 100%;
    border-radius: 10px;
    border: 0;
    margin: 5%;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-align: center;
}

button {
    border:0;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.75rem;
    color: #fff;
    border-radius: 10px;
    height: 1.5rem;
}

.eyeAndSubmit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.seePassword {
    color: white;
    width: 20%;
    padding: 0.15rem;
}

/* HOME ONLY */

.login-box {
    background-color: #105C7C;
}

#seePasswordHome {
    background-color: #F1972A;
}

#submitButton {
    background-color: #201F41;
    width: 40%;
}

p {
    font-size: 0.75rem;
    margin: 1rem;
}

.facebook-logo{
    width: 8%;
    margin: 2.5%;
}
.gmail-logo{
    width: 8%;
    margin: 2.5%;
}

#registerButton {
    background-color: #F1972A;
    width: 85%;
}

/* Empieza registration */
.reg-box{
    background-color: #422E53;
    padding: 5%;
}

#seePasswordReg{
    background-color: #201F41;
}

#regBtn {
    background-color: #F1972A;
    width: 70%;
}

.media-logos{
    width: 150%;
}

.return-button{
    background-color: #F1972A;
    width: 35%;
    margin-top: 5%;
}

/* MAIN PAGE */
.main-page{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.menu-up {
    background-color: #201F41;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    z-index: 2;
    border-radius: 0px 0px 15px 15px;
}
.menu-up-r{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}
.home-page{
    background-color: rgba(255, 255, 255, 0.884);
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto; 
    justify-content: center;
    align-items:flex-start;
    z-index: 1;
}
.icon{
    height: 40%;
}
.petspace-planet{
    margin-left: 25px;
    height: 60%;
}
.menu-icon, .message-icon{
    height: 30%;
}
.menu-down{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 10%;
    background-color: #201F41;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    border-radius: 15px 15px 0px 0px;
}
.menu-left-pc{
    display:none;
}
.publication-space{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 20% 5%;
    position: absolute;
}

#postArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-pubs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 0% 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
}
.pub-first-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.pub-second-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 7%;
}
.pub-third-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.user-pic-space{
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 100%;
    margin: 0;
    margin-left: 2%;
    overflow:hidden;
}
.user-pic{
    max-width: 100%;
}
.user-name{
    font-size: 120%;
    color: black;
}
.publication-input, .publication-text{
    background-color: rgb(236, 236, 236);
    text-align: left;
    height: 50%;
    width:75%;
    color: black;
    border-radius: 10px;
    padding: 3% 8%;
}
.upload-space{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 25%;
    position: relative;
    right: 15%;
}
.pub-icon{
    height: 20px;
}
.publish-button{
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 80%;
    color: white;
    background-color: #105C7C;
    border-radius: 5px;
    padding: 1% 3%;
}
.like-post{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 20%;
    width: 25%;
}   
.like-icon{
    width: 30%;
}
.like-count{
    color: #4D194D;
    font-size: 100%;
}
.comment-post{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.comment-icon{
    width: 8%;
}
.new-post{
    padding: 2px 0; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.edit-pub{
    width: 8%;
    margin: 3px;
}
.edit-input{
    background-color: rgb(236, 236, 236);
    text-align: left;
    padding-left: 7%;
    height: 50%;
    color: black;
}
.delete-pub{
    width: 8%;
    margin: 3px;
}
@media only screen and (min-width: 768px) {
    .structure {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desktop-img {
        display: block;
        width: 40%;
    }
    .home-structure, .registration-structure{
        width: 35%;
    }
    .main-page{
        display:grid;
        grid-template-columns: repeat 2;
        grid-template-row: repeat 2;
        margin: 0;
        padding: 0;
    }
    .menu-up{
        background-color: #201F41;
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vh;
        z-index: 2;
        border-radius: 0;
    }
    .menu-down{
        display: none;
    }
    .menu-left-pc{
        height: 82.7vh;
        width: 15vw;
        z-index: 1;
        background-color: #8d6c8d;
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15vh 20px 20px 20px;
    }
    .home-icon-pc{
        margin: 12px;
        width: 40px;
        height: 40px;
    }
    .menu-icon-pc{
        margin: 12px;
        width: 40px;
        height: 35px;
    }
    .notification-icon-pc{
        margin: 12px;
        width: 40px;
        height: 40px;
    }
    .message-icon-pc{
        margin: 12px;
        width: 40px;
        height: 30px;
    }
    .profile-icon-pc{
        margin: 12px;
        width: 40px;
        height: 40px;
    }
    .home-page{
        background-color: rgba(255, 255, 255, 0.884);
        grid-column: 2;
        grid-row: 2;
        display: flex;
        margin-right: 3%;
        padding-left: 16vw;
        padding-right: 8vw;
        justify-content: center;
    }
    .publication-space{
        padding-right: 3vw;
        margin: 12vh 10vw 5vh 0;
        display: flex;
        align-items: center;
    }
    .create-pubs{
        width: 70vw;
        margin: 5px 25px;
        padding: 0;
        grid-template-columns: 3;
        grid-template-rows: 3;
    }
    .pub-first-box{
        grid-column: 1, 2, 3;
        grid-row: 1;
        grid-template-columns: 2;
        padding: 5px;
    }
    .user-pic-space{
        grid-column: 1;
    }
    .user-name{
        grid-column: 1;
    }
    .like-post{
        grid-column: 3;
    }
    .new-post{
        grid-row: 2;
        padding: 2px 0; 
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .publication-text{
        background-color: rgb(236, 236, 236);
        text-align: left;
        height: 50%;
        width: 77%;
        color: black;
        margin: 3px 8px 3px 19px;
        font-size: medium;
        line-height: 18px;
        padding: 8px 16px;
        border-radius: 8px;
    }
    .edit-pub{
        width: 25px;
        height: 25px;
        margin: 2px;
    }
    .delete-pub{
        width: 25px;
        height: 25px;
        margin: 2px 19px 2px 2px;
    }
    .publication-input{
        background-color: rgb(236, 236, 236);
        text-align: left;
        height: 50%;
        color: black;
        margin: 3px 19px;
        font-size: medium;
        line-height: 18px;
        padding: 8px 16px;
        border-radius: 8px;
        /* grid-column: 1, 2; */
        grid-row: 3;
    }
    .publish-button{
        padding: 0 18px;
    }
    .like-icon{
        width:15%;
    }
    .comment-post{
        padding: 5px;
        margin: 3px;
    }
    .comment-icon{
        width: 4%;
        margin: 5px 19px;
    }
}