body{
    background-color: #201F41;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}
.petspace-logo{
    height: 50px;
    margin-top: 20%;
}
.login-box {
    margin-top: 20%;
    background-color: #105C7C;
    padding: 9%;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
}

input{
    border-radius: 10px;
    border: 0;
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 5px, 10px, 5px, 10px;
    text-align: center;
}
.submit-button {
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    background-color: #201F41;
    border-radius: 10px;
    border:0;
    width: 78px;
    height: 21px;
}
.login-with {
    padding: 20px;
}
p{
    font-size: 12px;
    line-height: 15px;
    margin: 15px;
}
.facebook-logo{
    height: 25px;
    margin:10px;
}
.gmail-logo{
    height: 25px;
    margin: 10px;
}
.register-button {
    color: #fff;
    background-color: #F1972A;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    line-height: 15px;
    width: 135px;
    border-radius: 10px;
    border: 0;
    height: 25px;
    padding: 5px;
}
.reg-box{
    background-color: #422E53;
    border-radius: 10px;
    margin-top: 20%;
    padding: 5%;
}
#seePassword{
    background-color: #F1972A;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 2.5px 12.5px;
}
#seePasswordReg{
    background-color: #201F41;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 5px 13px;
}
.return-button{
    color: #fff;
    background-color: #F1972A;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    line-height: 15px;
    width: 135px;
    border-radius: 10px;
    border: 0;
    height: 25px;
    padding: 6px, 8px, 6px, 8px;
    margin: 10px;
}
.alert{
    color: #F1972A;
}